@charset "UTF-8";
/* .vorderby-wrap-div{
	display:flex; 
	justify-content :flex-end;
	flex-direction : row;
}
.vorderby{
	margin-right:10px;
	color:black;
} */
a{
	text-decoration:none;
	color: black;
}

/* .vgallery-img{
	width:250px;
	height: auto;
	object-fit:cover;
	margin-top:30px;
}
.vcontent-frame{
	width:250px;
	height:80px;
}
.vcontent-title{
	font-size:15px;
}
.vgallery-content{
	white-space: nowrap;
	font-size:15px;
	width:250px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.vgallery-line-frame{
	width:1200px;
	display:flex;
	flex-wrap:wrap;
}

.vgallery{
	display: flex;
    justify-content: center;
}
.vimg-frame{
	overflow: hidden;
    position: relative;
  	margin-right : 25px;
  	margin-left : 25px;
}
.vwritebutton{
	position : fixed;
	bottom : 20px;
	right : 20px;
	float : right;
	border : none;
}
.vwritebutton-icon{
	width : 70px;
	height : 70px;
} */