

/* 나눔 게시판divCss */
.content{
position: relative;
width: 1920px;
height: 1601px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* 상단div */
.divTop{
	width: 1920px;
    height: 160px;
   display:flex; 
   justify-content :flex-end;
   flex-direction : row;
   width: 1920px;
}
.divTopOrderby{
   margin-right:10px;
   color:black;
}

.divContents{
	width: 30px;
    height: auto;
	
}

.divContents img{
	width: 30px;
    height: auto;
	
}
.listIMG{
	width : 340px;
	height: auto;
}



/* Rectangle 1-1 */
.div1_1{
width: 340px;
height: 380px;

background: #D9D9D9;
border-radius: 10px;
position: relative;

margin-right: 5px;
}
	.innerdiv1_1{
		width: 340px;
		height: 100px;
	
		
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

.content1_1 {
    width: 340px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 0px; /* .div1_1에서 60px 위에 위치하도록 설정 */
    left: 50%; /* 부모 요소 가운데 정렬 */
    transform: translateX(-50%); /* 수평 가운데 정렬 */
}



/* 하단div */
.divBottom_page{
	
width: 1920px;
height: 62px;
left: 0px;
border-color: black;
background: #D9D9D9;
border-radius: 10px;
}
