

/* 나눔 게시판divCss */
.content{
position: relative;
width: 1920px;
height: 1601px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* 상단div */
.divTop{

   display:flex; 
   justify-content :flex-end;
   flex-direction : row;
}
.divTopOrderby{
   margin-right:10px;
   color:black;
}

/*각 라인 div 공통 속성 적용*/
.line1, .line2, .line3{
	    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px 0;
	
}




/* Rectangle 1-1 */
.div1_1{
width: 340px;
height: 380px;

background: #D9D9D9;
border-radius: 10px;
position: relative;

margin-right: 5px;
}
	.innerdiv1_1{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

.content1_1 {
    width: 340px;
    height: 50px;
    background: #FFA500; /* 오렌지색 */
    border-radius: 10px;
    position: absolute;
    bottom: 0px; /* .div1_1에서 60px 위에 위치하도록 설정 */
    left: 50%; /* 부모 요소 가운데 정렬 */
    transform: translateX(-50%); /* 수평 가운데 정렬 */
}


.div1_2{
width: 340px;
height: 380px;

background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;
margin-left: 5px;
}

	.innerdiv1_2{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

.div1_3{
width: 340px;
height: 380px;

background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;
margin-left: 5px;
}

	.innerdiv1_3{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

.div1_4{
width: 340px;
height: 380px;

background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-left: 5px;
}

	.innerdiv1_4{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

/* Rectangle 2-1 */
.div2_1{
width: 340px;
height: 380px;

background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;

}
		.innerdiv2_1{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

/* Rectangle 2-2 */
.div2_2{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;
margin-left: 5px;
}

		.innerdiv2_2{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}


/* Rectangle 2-3 */
.div2_3{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;
margin-left: 5px;
}

		.innerdiv2_3{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}
	

/* Rectangle 2-4 */
.div2_4{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;

margin-left: 5px;
}
		.innerdiv2_4{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}
	

/* Rectangle 3-1 */
.div3_1{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;

margin-left: 5px;
}
		.innerdiv3_1{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}


/* Rectangle 3-2 */
.div3_2{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;
margin-left: 5px;
}

		.innerdiv3_2{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}


/* Rectangle 3-3 */
.div3_3{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-right: 5px;
margin-left: 5px;
}

		.innerdiv3_3{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

/* Rectangle 3-4 */
.div3_4{
width: 340px;
height: 380px;


background: #D9D9D9;
border-radius: 10px;
position: relative;
margin-left: 5px;
}

		.innerdiv3_4{
		width: 340px;
		height: 100px;
	
		background: #800080;
		border-radius: 10px;
		position: absolute; /* .innerdiv1_1를 position: absolute로 설정 */
        bottom: 0; /* 하단에 위치하도록 설정 */
		margin-right: 5px;
		
	}

/* 하단div */
.divBottom_page{
	
width: 1920px;
height: 62px;
left: 0px;
border-color: black;
background: #D9D9D9;
border-radius: 10px;
}
