@charset "UTF-8";

.card-header1 h1 {
    font-size: 30px;
    font-weight: 600;
}

.card-write {
    padding: 20px;
    text-align: center; /* 요소를 가운데 정렬 */
}

.card-write input, textarea{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}

.card-write .title-w input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85.5%;
}

.card-write .msg textarea {
    min-width: 85.5%;
    max-width: 85.5%;
    min-height: 200px;
    max-height: 200px;
    box-shadow: inset 3px 3px 10px #e6e6e6;

    /* vertical-align: 텍스트를 수직, 수평 정렬 할 수 있다. */
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.card-write input[type="file"] {
    border: none;
    box-shadow: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn-w {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px auto 20px auto; /* 좌우 여백을 auto로 설정하여 가운데 정렬 */
    padding: 10px;
}

.btn-w a {
    background-color: tomato;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
