@charset "UTF-8";

*{}

ul#gallery {
    list-style: none;
    padding: 0;
    width: 1100px;
    margin: 0 auto; /* 가운데 정렬 */
}

ul#gallery > a > li {
    position: relative;
    display: inline-block;
    background-color: #000;
    width: 250px;
    height: 250px;
    margin: 5px;
    overflow: hidden;
}

ul#gallery > a > li > img {
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in-out;
}

ul#gallery > a > li:hover img {
    transform: scale(1.18);
}

/* 추가 텍스트를 위한 스타일 */
.additional-text {
    position: absolute;
    bottom: 30px; /* 이미지 위 텍스트와의 간격 조절 */
    left: 10px;
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 2px black;
}

/* 이미지 위에 텍스트를 표시하기 위한 스타일 */
.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

html, body {
    height: 100%;
    overflow-y: auto; /* 세로 스크롤 추가 */
}