@charset "UTF-8";
.worderby-wrap-div{
	display:flex; 
	justify-content :flex-end;
	flex-direction : row;
}
.worderby{
	margin-right:10px;
	color:black;
}
.worderby > a{
	text-decoration:none;
	color: black;
}

.wgallery-img{
	width:250px;
	height: auto;
	object-fit:cover;
	margin-top:30px;
}
.wcontent-frame{
	width:250px;
	height:80px;
}
.wcontent-title{
	font-size:15px;
}
.wgallery-content{
	white-space: nowrap;
	font-size:15px;
	width:250px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.wgallery-line-frame{
	width:1200px;
	display:flex;
	flex-wrap:wrap;
}

.wgallery{
	display: flex;
    justify-content: center;
}
.wimg-frame{
	overflow: hidden;
    position: relative;
  	margin-right : 25px;
  	margin-left : 25px;
}
.wwritebutton{
	position : fixed;
	bottom : 20px;
	right : 20px;
	float : right;
	border : none;
}
.wwritebutton-icon{
	width : 70px;
	height : 70px;
}